/* Light theme */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6e7781;
}

.token.punctuation {
  color: #24292f;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #0550ae;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #0a3069;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #24292f;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #cf222e;
}

.token.function {
  color: #8250df;
}

.token.regex,
.token.important,
.token.variable {
  color: #0550ae;
}

/* Dark theme */
.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #8b949e;
}

.dark .token.punctuation {
  color: #c9d1d9;
}

.dark .token.property,
.dark .token.tag,
.dark .token.boolean,
.dark .token.number,
.dark .token.constant,
.dark .token.symbol,
.dark .token.deleted {
  color: #79c0ff;
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
  color: #a5d6ff;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url,
.dark .language-css .token.string,
.dark .style .token.string {
  color: #c9d1d9;
}

.dark .token.atrule,
.dark .token.attr-value,
.dark .token.keyword {
  color: #ff7b72;
}

.dark .token.function {
  color: #d2a8ff;
}

.dark .token.regex,
.dark .token.important,
.dark .token.variable {
  color: #79c0ff;
}
